body {
  width: 100vw;
  height: 100vh;
  margin: 0;
  background: radial-gradient(#d1d1d1, #ffffff);
  overflow: hidden;
}

#countryContainer {
  position: absolute;
  display: block;
  z-index: 99;
  left: 50%;
  top: 50%;
}
