@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Special+Elite&display=swap');

body {
  width: 100vw;
  height: 100vh;
  margin: 0;
  background: radial-gradient(#c4c4c4, #ffffff);
  overflow: hidden;
}

.bottom-note {
  z-index: 99;
  position: absolute;
  bottom: 2%;
  left: 50%;
  transform: translate(-50%, 0);

}

.bottom-note p {
  font-size: 15px;
  font-family: 'Special Elite', cursive;
  letter-spacing: 2px;
  word-spacing: 7px;
}

.bottom-note a {
  color: black;
}

.panel {
  position: absolute;
  transform: translate(-50%, 50%);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 99;
  top: 0;
  margin: auto 0;
  bottom: 250px;
  height: 250px;
  width: 195px;
}

#left-panel {
  left: 25%;
  visibility: visible;
  opacity: 1;
  transition: 200ms ease;
}

#right-panel {
  left: 75%;
  visibility: visible;
  opacity: 1;
  transition: 200ms ease;
}

.panel-icon {
  height: 50px;
  width: 50px;
  position: fixed;
}

.panel:hover .panel-icon {
  animation: content-out 200ms ease 0ms 1 normal forwards;
}

.panel .panel-icon {
  animation: content-in 200ms ease 0ms 1 normal backwards;
}



#white-flag {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  margin: auto auto;
  height: 30px;
  width: 30px;
}

#gear-icon {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  margin: auto auto;
  height: 30px;
  width: 30px;
  filter: brightness(1.5);
}


.panel .country-panel {
  animation: panel-out 200ms ease 100ms 1 normal backwards;

}

.panel:hover .country-panel {
  animation: panel-in 200ms ease 0ms 1 normal forwards;
}

@keyframes panel-in {
  from {
    height: 50px;
    width: 50px;
    padding: 0px;
  }

  to {
    height: 250px;
    width: 195px;
    padding: 15px;

  }
}

@keyframes panel-out {
  from {
    height: 250px;
    width: 195px;
    padding: 15px;

  }

  to {
    height: 50px;
    width: 50px;
    padding: 0px;

  }
}

.panel:hover .content-holder {
  animation: content-in 200ms ease 100ms 1 normal backwards;

}

.panel .content-holder {
  animation: content-out 200ms ease 0ms 1 normal forwards;
}

@keyframes content-in {
  from {
    display: none;
    opacity: 0;
    z-index: 100;
  }

  to {
    z-index: -1;
    display: block;
    opacity: 1;
  }
}

@keyframes content-out {
  from {
    z-index: -1;
    visibility: visible;
    opacity: 1;
  }

  to {
    z-index: 100;

    visibility: hidden;
    opacity: 0;
  }
}

.country-panel {
  font-family: 'Poppins', sans-serif;
  display: block;
  box-sizing: border-box;
  z-index: 99;
  height: 50px;
  width: 50px;
  background-color: white;
  border-radius: 10px;
  transition: 200ms ease-in-out;
}


.innerPanel {
  position: absolute;
  top: 50%;
  left: 50%;
  height: calc(100% - 60px);
  width: calc(100% - 60px);
  padding: 15px;
}

h2 {
  font-size: 20px;
  font-weight: 600;
  line-height: 1;
  margin: 0;
  color: #272727;
}

.search-panel {
  width: 100%;
  height: 22px;
  -webkit-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.15);
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.15);
  margin-top: 10px;
  margin-bottom: 15px;
  border-radius: 5px;
}

#country-search {
  box-sizing: border-box;
  padding-left: 5px;
  padding-right: 5px;
  font-family: 'Poppins', sans-serif;
  font-size: 12px;
  border: none;
}

#country-search:focus {
  outline: none;

}

#list-view {
  height: 150px;
  width: 100%;
  overflow-y: scroll;
}

.list-item {
  display: flex;
  justify-content: space-between;
  margin: 0;
  padding: 0;
}

.color-input {
  outline: none;
  width: 30px;
  height: 30px;
  border: none;
  margin: 0;
  padding: 0;
}

.flag {
  margin-right: 10px;
  margin-left: 2px;
  height: 12px;
}

.left-container {
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

p {
  line-height: 1;
  font-size: 12.5px;
  font-weight: 400;
  text-overflow: ellipsis;
  padding: 0;
  padding-right: 5px;
  margin-top: 6px;
  margin-bottom: 6px;

}

.country-check {
  border: #4686E7 2px solid;
  accent-color: #4686E7;
  margin-right: 10px;
  color: #4686E7;
}


/* width */
::-webkit-scrollbar {
  width: 3px;
}

/* Track */
::-webkit-scrollbar-track {
  border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: rgba(39, 39, 39, 0.1);
  border-radius: 10px;
}